

<div id="content-wrapper">
   <%=  render :partial => "errors/error", :locals => { :errors => @user.errors }%>
   

  <div class="row">
    <div class="col-lg-12">
    <div class="main-box clearfix">
    <div class="clearfix">
      <div class="user_page">
          <h2><%=form_title.camelize%></h2>
         

      <%= form_for @user, :html => { :class => 'user-form',multipart:  true } do |f| %>
      


        <div class="row">
            <div class="col-md-6">
              <div class="form-group clearfix">
                <label class="col-md-3 label-padding">First Name</label>
                <div class="col-md-9">
                <%= f.text_field :first_name,:required => "required",class: "form-control",placeholder: "First Name" %>
                  
                </div>
              </div>
            </div>
             <div class="col-md-6">
              <div class="form-group clearfix">
                <label class="col-md-3 label-padding">Last Name</label>
                <div class="col-md-9">
                <%= f.text_field :last_name,:required => "required",class: "form-control",placeholder: "Last name"  %>
                  
                </div>
              </div>
            </div>
          </div>


           <div class="row">
            <div class="col-md-6">
              <div class="form-group clearfix">
                <label class="col-md-3 label-padding">Account</label>
                <div class="col-md-9">
                   <%= f.select :account,Response.accounts(GPULSE),{:prompt => "--select account--"},:required => "required",class: "form-control" %>
                </div>
              </div>
            </div>
             <div class="col-md-6">
              <div class="form-group clearfix">
                <label class="col-md-3 label-padding">Roles</label>
                <div class="col-md-9">
                    <%= f.select :role_ids,if current_user.id == @user.id then
                    current_user.roles.pluck(:name,:id)  else Role.per_roles(current_user.roles).pluck(:name,:id) end,{:prompt => "--select roles--"},:class => 'form-control',:required => "required" %>
                  
                </div>
              </div>
            </div>

          </div>

            <div class="row">
            <div class="col-md-6">
              <div class="form-group clearfix">
                <label class="col-md-3 label-padding">Email</label>
                <div class="col-md-9">
                <%= f.email_field :email,:required => "required",class: "form-control",placeholder: "Email" %>
                  
                </div>
              </div>
            </div>
             <div class="col-md-6">
              <div class="form-group clearfix">
                <label class="col-md-3 label-padding">Mobile Number</label>
                <div class="col-md-9">
                <%= f.text_field :mobile_number,:required => "required",class: "form-control",placeholder: "Mobile Number"  %>
                  
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-6">
              <div class="form-group clearfix">
                <label class="col-md-3 label-padding">Office Number</label>
                <div class="col-md-9">
                <%= f.text_field :office_number,:required => "required",class: "form-control",placeholder: "Office Number" %>
                  
                </div>
              </div>
            </div>
             <div class="col-md-6">
              <div class="form-group clearfix">
                <label class="col-md-3 label-padding">Landline Number</label>
                <div class="col-md-9">
                <%= f.text_field :landline_number,:required => "required",class: "form-control",placeholder: "Landline Number"  %>
                  
                </div>
              </div>
            </div>
          </div>

          <% if type != 'edit' %>
           <div class="row">
            <div class="col-md-6">
              <div class="form-group clearfix">
                <label class="col-md-3 label-padding">Password</label>
                <div class="col-md-9">
                <%= f.password_field :password,:required => "required",class: "form-control",placeholder: "Password" %>
                </div>
              </div>
            </div>
             <div class="col-md-6">
              <div class="form-group clearfix">
                <label class="col-md-3 label-padding">Confirm Password</label>
                <div class="col-md-9">
                <%= f.password_field :password_confirmation,:required => "required",class: "form-control",placeholder: "Confirmation-password"  %>
                </div>
              </div>
            </div>
          </div>
          <% end %>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group clearfix">
                <label class="col-md-3 label-padding">State</label>
                <div class="col-md-9">
                <%= f.select :state_ids,State.permit_state(current_user),{:prompt => "--select state--"},:required => "required",class: "form-control",:multiple => true %>
                  
                </div>
              </div>
            </div>
            
             <div class="col-md-6">
              <div class="form-group clearfix">
                <label class="col-md-3 label-padding">Designation</label>
                <div class="col-md-9">
                <%= f.select :designation_id,Designation.all.pluck(:name,:id),{:prompt => "--select designation--"},:required => "required",class: "form-control",:onchange => "user_reporting() " %>  
                </div>
              </div>
            </div>
            

           
          </div>

            
           <div class="row">
            <div class="col-md-6">
              <div class="form-group clearfix">
                <label class="col-md-3">Profile Picture</label>
                <div class="col-md-9">
                  <% if type == 'edit' %>
                  <%= image_tag  @user.profile_path,:class=>'profile_image' %>
                  <% end %>
               <%= f.file_field :profile%>
                  
                </div>
              </div>
            </div>
             <div class="col-md-6">
              <div class="form-group clearfix">
                <label class="col-md-3">Reporting Manager</label>
                <div class="col-md-9">
              <%= f.select :user_reporting_id ,Role.users_select(Role.user_listing(USER_REPORTING)),{:prompt => "--select reporting manager--"},:required => "required",class: "form-control"%>

                </div>
              </div>
            </div>

          </div>
            <div class="row">
            <div class="col-md-6">
              <div class="form-group clearfix">
                 
                <div class="col-md-9">
              <div class="col-md-4">
               <%= f.submit "Submit",:class => "btn btn-success rrm_frm_btn" %>
              
            </div>
             <div class="col-md-6">
               <%= link_to "Cancel",users_path,:class => "btn btn-danger ",data: { confirm: 'Are you sure?'} %>
              
            </div>
                  
                </div>
              </div>
            </div>
             <div class="col-md-6">
              <div class="form-group clearfix">
                <label class="col-md-3"></label>
                <div class="col-md-9">
                
                  
                </div>
              </div>
            </div>
             
          </div>
  
	
          
         
          </div>
        <% end %>
     

        </div>

      </div>
      </div>
    </div>
  </div>

</div>
    

<script>
  function user_reporting(){
    designation = $('#user_designation_id option:selected').text();
   
      $.ajax({
        url: "/users/reporting_manager",
        type: "POST",
        data: {designation: designation},
        dataType: "text",

      complete: function(){
      },
      success: function(data,xhr){
          
       
      },
      error: function(){

      } 
      })

  }//end of function    
</script>
